@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

* {
  margin: 0;
}
.navbar {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  height: 88px;
  width: 100%;
  //   background-color: white;
  background-color: aqua;
  &__wrapper {
    margin: 0px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    margin: 4px 0px;
    // margin-left: 11.1%;

    &__image {
      width: 73.6px;
      height: 80px;
      // margin:0px;
    }
    &__title {
      display: none;
    }
  }

  &__link__container {
    // margin-right: 11.1%;
    display: flex;

    &__link {
      list-style: none;
      margin-left: 32px;
      font-family: "DM Sans";
      font-weight: 500;
      font-size: 16px;
    }
    &__burger__icon {
      display: none;
    }
    &__down__icon {
      margin-left: 14px;
    }
  }
  &__link__active {
    color: #0961e7;
  }
}

@media only screen and (max-width: 688px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 160px; */
    height: 64px;
    width: 100%;

    &__wrapper {
    margin: 0px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    &__logo {
      margin: 4px 0px;
      // margin-left: 24px;
      display: flex;
      //   align-items: center;

      &__image {
        width: 51.52px;
        height: 56px;
        // margin:0px;
      }
      &__title {
        display: block;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        margin: 21px 0px;
        margin-left: 8.48px;
        font-size: 16px;
        line-height: 22.4px;
      }
    }
    &__link__container__link {
      display: none;
    }
    &__link__container__burger__icon {
      display: block;
      margin: 26px 0px;
      // margin-right: 27px;
    }
  }
}
